.container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 16px;
    box-sizing: border-box;
    color: #242424;
    align-items: start;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.clickableCell {}

.clickableCell:hover {
    background-color: antiquewhite;
    cursor: pointer;
}
