.container {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: black;
    padding: 16px;
    box-sizing: border-box;
    color: whitesmoke !important;
    align-items: start;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.clickableCell {
    color: whitesmoke !important;
    border-right: 1px solid rgba(224, 224, 224, 1);
    font-family: "Comic Sans MS" , serif !important;
}

.clickableCell:hover {
    cursor: pointer;
}

.tableCell {
    color: whitesmoke !important;
    font-family: "Comic Sans MS", monospace !important;
}
